<!DOCTYPE html>
<html lang="ru">
<head>
    <%- include('../Common_Elements/head.ejs') %>
    <link rel="stylesheet" href="style_admin.css"/>
    <title>Добавить нового пользователя</title>
</head>
    <body>
        <div class="wrapper">
            <%- include('../Common_Elements/header.ejs') %>
            <main class="main">
                <div class="col-sm-12">
                    <h2>Добавить нового пользователя</h2>
                    <form action="/admin/add" method="POST">
                        <div class="form-group">
                            <label for="username">Имя пользователя</label>
                            <input type="text" id="username" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Пароль</label>
                            <input type="password" id="password" name="password" required>
                        </div>
                        <button type="submit">Добавить пользователя</button>
                    </form>
                </div>
            </main>
            <%- include('../Common_Elements/footer.ejs') %>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
