.wrapper-table{
    display: flex;
    width: 100%;
}

.table-users{
    table-layout: fixed;
    width: 96%;    
    margin: 2%;
}

.table-users th, .table-users td {
    padding: 0.5%;
    border-collapse: collapse;
    border: 2px solid #000000;
}

thead th:nth-child(1) {
    width: 36%;
}

thead th:nth-child(2) {
    width: 10%;
}

thead th:nth-child(3) {
    width: 50%;
}

.href-container{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    width: 18%;
}

.ref-edit{
    color:#000000;
    text-decoration: none;
    border-radius: 10px;
    transition: .5s;
    background-color: transparent;    
    padding: 4px 4px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 1%;
}

.ref-edit:hover{
    background-color: #02415d;
}

.actions-container {
    display: flex;
    flex-direction: row;
}
