<link rel="stylesheet" href="../styles/admin-style.css"/> 
<div class="modal-window" id="carousel-admin-modal">
    <div class="admin-modal-window">
      <div class="toolbar-modal">
        <button class="close-button-modal" id="carousel-button-close">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
          </svg>  
        </button>
      </div>
      <a class="ref-edit button-in-modal" onclick="confirmDelete_progress_carousel_all()" href="#">Общий сброс прогресса карусели</a>       
      <a class="ref-edit button-in-modal" href="/upload_carousel">Выгрузить результаты в EXCEL</a> 
      <a class="ref-edit button-in-modal" href="/question_carousel">Задать вопросы</a>
      <form action="/setTime_carousel" method="post">
        <label for="startTimeCarousel">Укажите предпочтительную дату события:</label>
        <div>
            <label for="startTimeCarousel">Начальное время:</label>
            <input type="datetime-local" id="startTimeCarousel" name="startTimeCarousel">
        </div>
        <div>
            <label for="endTimeCarousel">Конечное время:</label>
            <input type="datetime-local" id="endTimeCarousel" name="endTimeCarousel">
        </div>
        <button type="submit" id = "button-form-TimeCarousel" class = "button-form-answer">Сохранить</button>
    </form>
    </div>
  </div>