<link rel="stylesheet" href="../styles/admin-style.css"/> 
<div class="modal-window" id="square-admin-modal">
    <div class="admin-modal-window">
      <div class="toolbar-modal">
        <button class="close-button-modal" id="square-button-close">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
          </svg>  
        </button>
      </div>
      <a class="ref-edit button-in-modal" onclick="confirmDelete_progress_square_all()" href="#">Общий сброс прогресса квадрата</a>   
      <a class="ref-edit button-in-modal" href="/upload_square">Выгрузить результаты в EXCEL</a>
      <a class="ref-edit button-in-modal" href="/question_square">Задать вопросы</a>
      <form action="/setTime_square" method="post">
        <label for="startTimeSquare">Укажите предпочтительную дату события:</label>
        <div>
            <label for="startTimeSquare">Начальное время:</label>
            <input type="datetime-local" id="startTimeSquare" name="startTimeSquare">
        </div>
        <div>
            <label for="endTimeSquare">Конечное время:</label>
            <input type="datetime-local" id="endTimeSquare" name="endTimeSquare">
        </div>
        <button type="submit" id = "button-form-TimeSquare" class = "button-form-answer">Сохранить</button>
    </form> 
    </div>
  </div>