<div class="load" id="load">Загрузка прогресса</div>
<div class="col-sm-2">
  <div class="Info-window">
    <div class="wrapper-score">
      <p>Баллы:</p>
      <p class="count-value" id="count-point">0</p>
    </div>
    <div class="wrapper-time" id="timer">00:00:00</div>  
</div>
</div>
<div class="col-sm-10">
  <div class="Game">
    <div class="gameover" id="gameover">Игра окончена!</div>
    <div class="wrapper-progress-table"> 
      <table id="progress-table">
        <tbody>
          <tr>
            <th>№</th>
            <th>Цена</th>
          </tr>
        </tbody>                
      </table>              
    </div> 
    <div class="wrapper-windows-question">
      <div class="wrapper-question">
        <label id = "label-question" for="input-answer">Вопрос?</label>
        <form class="form-answer">
          <input id="input-answer" name="input-answer" placeholder="Введите ответ!"/>
          <button type="submit" id = "button-form-answer" class = "button-form-answer">Следующий вопрос</button>
        </form>
      </div>      
    </div>                 
  </div>
</div>
