<form class="form_sign" action="/signin" method="post" id="login-form">
    <h2>Авторизация</h2>
    <input id="username" type="text" name="username" placeholder="Имя пользователя">
    <input type="password" name="password" placeholder="Пароль">
    <% if (messages.error) { %>
        <p class="error_messange"><%= messages.error %></p>
    <% } %>   
    <input type="submit" value="Войти">
    <p>Ещё не зарегистрированы? <a href="/signup">Зарегистрироваться</a></p>
</form>