<!DOCTYPE html>
<html lang="ru">
  <head>
    <%- include('com-head.ejs') %>
    <link rel="stylesheet" href="../styles/main-style.css">
    <title>Главная</title>
  </head>
  <body>
    <div class="wrapper">
      <%- include('com-header.ejs') %>

      <main class="main">
        <div class="rules_wrapper">
          <div class="rules_square">
            <p class="title-game">Математический квадрат</p>
            <p class="title-rules">Основные правила игры</p>
            <ol>
              <li>Все задачи выдаются для решения командам одновременно.</li>
              <li>Основным зачётным показателем в этой математической игре является общее количество набранных очков (включая бонусы).</li>
              <li>Побеждают команды, набравшие наибольшее число баллов.</li>
              <li>Каждой команде предлагается для решения пять тем по пять задач в каждой теме (всего 25 задач).</li>
              <li>Задачи каждой темы после их решения сдаются в произвольном порядке (сдаётся не решение, а только ответ).</li>
              <li>На каждую задачу даётся одна попытка.</li>
              <li>Если команда предъявила правильный ответ на задачу, то она получает за эту задачу полный балл (он равен стоимости задачи).</li>
              <li>Стоимость первой задачи каждой темы — 10 очков, второй — 20, третьей — 30, и т.д.</li>
              <li>Каждая команда дополнительно может заработать бонусные очки.</li>
              <li>На решение задач отводится 75 минут. Игра для команды оканчивается, если у неё кончились задачи или истекло общее время, отведенное для игры.</li>
            </ol>
          </div>
          <div class="rules_carousel">
            <p class="title-game">Математическая карусель</p>
            <p class="title-rules">Основные правила игры</p>
            <ol>
              <li>Все задачи выдаются для решения командам одновременно.</li>
              <li>Всем командам предлагается один и тот же набор задач, которые идут в одном и том же порядке.</li>
              <li>В начале игры команды одновременно получают первую задачу набора. Когда команда дает ответ на задачу, она получает следующую задачу</li>
              <li>Процесс решения задач для команды заканчивается в одном из двух случаев: если заканчивается набор задач, если заканчивается время на решение задач</li>
              <li>Общее время на решение задач ограничено и объявляется заранее</li>
              <li>Первая задача стоит n баллов.</li>
              <li>Если к задаче дан верный ответ, то команда получает её стоимость, а следующая задача будет стоить на i баллов больше.</li>
              <li>Если на задачу дан неверный ответ, то команда получает за решение 0 баллов, а следующая задача будет стоить на k баллов меньше, но не менее n баллов.</li>
              <li>Места распределяются согласно количеству набранных баллов.</li>
              <li>Если команды имеют равное количество баллов, то выше ставится та, у которой больше верных ответов.</li>
              </ol>
          </div>
        </div>
      </main>
      <%- include('com-footer.ejs') %>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
