/* @media screen and (max-width: 700px) {
    .button-toolbar{
        font-size: 15px;
    }
  }
  @media screen and (min-width: 701px) {
    .button-toolbar{
        font-size: 20px;
    }
  } */

.font-toolbar{
    font-size: 20px;
}

.button-toolbar{
    color:#000000;
    text-decoration: none;
    border-radius: 10px;
    transition: .5s;
    background-color: transparent;    
    padding: 4px 4px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.btn-group{
    display: flex;
    align-items: center;
    margin-left: auto;
    text-align: right;
    justify-content: flex-end;
    margin: 2px;
}

.button-toolbar:hover{
    background-color: #96dfff;
}

.main-name{
    justify-content: center;
    align-items: center;
    font-size: 25px;
    display: inline-flex;
    height: 100%;
}

.main-name a{
    color: #000000;
    font-weight: 500;
    text-decoration: none;
}

.header{
    background: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.dropdown{
    display: flex;
    justify-content: end;
}


.wrapper-button{
    display: flex;
    justify-content: center;
}

.header-main, .square, .carousel, .rating, .admin{
    display: inline-flex;   
    margin: 2px 6px;   
}