<header class="header">
    <div class="header-top">
        <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <div class="main-name">
                    <a href='/' role="button">Олимп</a>
                </div>                
            </div>
            <div class="col-sm-6">
                <div class="wrapper-button">
                    <div class="header-main">
                        <a class="button-toolbar font-toolbar" href='/' role="button">Главная</a>
                    </div>
                    <div class="square">
                        <a class="button-toolbar font-toolbar" href="/square" role="button">Квадрат</a>
                    </div>
                    <div class="carousel">
                        <a class="button-toolbar font-toolbar" href="/carousel" role="button" >Карусель</a>
                    </div>
                    <div class="rating">
                        <a class="button-toolbar font-toolbar" href='#' role="button">Рейтинг</a>
                    </div>    
                    <% if (isAuthenticated && role == "ADMIN") { %>
                        <div class="admin">
                            <a class="button-toolbar font-toolbar" href='#' role="button">Админ</a>
                        </div>
                    <% } %>                   
                </div>                
            </div>
            <div class="col-sm-3">
                <div class="btn-group font-toolbar">
                    <a
                        class="button-toolbar"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <% if (isAuthenticated) { %>
                            <%= username %>
                        <% } else { %>
                            Профиль
                        <% } %>
                        </a
                    >
                    <ul class="dropdown-menu">
                        <% if (isAuthenticated) { %>
                            <li>
                                <form action="/logout?_method=DELETE" method="POST">
                                    <button class="dropdown-item" type="submit">Выйти</button>
                                </form>
                            </li>
                        <% } else { %>
                            <li><a class="dropdown-item" href="/signin">Войти</a></li>
                            <li><a class="dropdown-item" href="/signup">Зарегистрироваться</a></li>
                        <% } %>
                    </ul>
            </div>
            </div>
        </div>
        </div>
    </div>
</header>