<header class="header">
    <div class="header-top">
        <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
            <div class="header-main">
                <a
                class="button-toolbar btn-sm"
                href='/'
                role="button"
                >Главная</a
                >
            </div>
            </div>
            <div class="col-sm-3">
            <div class="square">
                <a class="button-toolbar btn-sm" href="/square" role="button"
                >Квадрат</a
                >
            </div>
            </div>
            <div class="col-sm-3">
            <div class="carousel">
                <a
                class="button-toolbar btn-sm"
                href="/carousel"
                role="button"
                >Карусель</a
                >
            </div>
            </div>
            <div class="col-sm-3">
            <div class="btn-group">
                <div class="dropdown">
                <a
                    class="button-toolbar btn-sm dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <% if (isAuthenticated) { %>
                        <%= username %>
                    <% } else { %>
                        Профиль
                    <% } %>
                    </a
                >
                <ul class="dropdown-menu">
                    <% if (isAuthenticated) { %>
                        <li>
                            <form action="/logout?_method=DELETE" method="POST">
                                <button class="dropdown-item" type="submit">Выйти</button>
                            </form>
                        </li>
                    <% } else { %>
                        <li><a class="dropdown-item" href="/signin">Войти</a></li>
                        <li><a class="dropdown-item" href="/signup">Зарегистрироваться</a></li>
                    <% } %>
                </ul>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</header>