/* @media screen and (max-width: 1000px) {
    .Info-window p {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 576px) {
    .Info-window p {
      font-size: 10px;
    }
  } */

.Info-window{
/*     background-color: #11998e; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Info-window p{
    color: #000000;
    font-weight: 700;
    font-size: 30px;
}

.wrapper-score, .wrapper-time{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  width: 95%;
  border-radius: 10px;
  padding: 5%;
  margin-bottom: 10%
}
p{
  margin: 0;
}

.count-value
{
    margin-left: 5%;
}