.wrapper-table{
    display: flex;
    width: 100%;
}

.table-users{
    table-layout: fixed;
    width: 96%;    
    margin: 2%;
}

.table-users th, .table-users td {
    padding: 0.5%;
    border-collapse: collapse;
    border: 2px solid #000000;
    text-align: center;
}

thead th:nth-child(1) {
    width: 36%;
}

thead th:nth-child(2) {
    width: 10%;
}

thead th:nth-child(3) {
    width: 50%;
}

.href-container{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    width: 18%;
}

.ref-edit{
    color:#000000;
    text-decoration: none;
    border-radius: 10px;
    transition: .5s;
    background-color: transparent;    
    padding: 4px 4px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 1%;
    font-weight: 500;
}

.ref-edit:hover{
    background-color: #1887b7;
}

.wrapper-admin{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 7%;
}

.form-group {
    margin-bottom: 5%; /* добавляет пространство между элементами формы */
}

.form-group label {
    font-weight: bold; /* делает метки (label) жирными */
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%; /* заставляет текстовые поля занимать всю доступную ширину */
    padding: 2%; /* добавляет отступы вокруг текстовых полей */
    border: 1px solid #ccc; /* добавляет границу вокруг текстовых полей */
    border-radius: 5px; /* добавляет скругленные углы текстовых полей */
}

.wrapper-admin button[type="submit"] {
    background-color:transparent;
    color:#000000;
    padding: 2% 4%; /* добавляет отступы вокруг текста кнопки */
    border: none; /* удаляет границу кнопки */
    border-radius: 5px; /* добавляет скругленные углы кнопки */
    cursor: pointer; /* изменяет курсор при наведении на кнопку */
    font-weight: 500;
}

.wrapper-admin button[type="submit"]:hover {
    background-color: #1887b7; /* изменяет цвет фона кнопки при наведении */
}

