table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-weight: 600;
}

.input-level{
    text-align: center;
    font-weight: 600;
    pointer-events: none
}

input{
    width: 100%;
    background: transparent;
    border: none;
}
input:focus {
    outline: none;
}

th:first-child, td:first-child {
    width: 15%;
}

th:last-child, td:last-child {
    width: 30%;
}

th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 10px;
    text-align: center; /* Центрируем содержимое ячеек заголовков */
    border: 1px solid black;
}

td {
    border: 1px solid black;
    padding: 10px;
    text-align: center; /* Центрируем содержимое ячеек данных */
}

/* Form Button */
button {
    background-color: transparent; 
    color: white;
    transition: .3s;
    padding: 10px 20px;
    border: solid 1px gray;
    border-radius: 10px;
    cursor: pointer;
    color:#000000;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    margin-top: 0.5%;
    margin-bottom: 1%;
}

button:hover {
    background-color: #1887b7;
}
