table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-weight: 600;
}

input{
    width: 100%;
}

th:first-child, td:first-child {
    width: 15%;
}

th:last-child, td:last-child {
    width: 30%;
}

th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 10px;
    text-align: center; /* Центрируем содержимое ячеек заголовков */
    border: 1px solid black;
}

td {
    border: 1px solid black;
    padding: 10px;
    text-align: center; /* Центрируем содержимое ячеек данных */
}

/* Form Button */
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #45a049;
}
