/* @media screen and (max-width: 1000px) {
    .Info-window p {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 576px) {
    .Info-window p {
      font-size: 10px;
    }
  } */

.Info-window{
/*     background-color: #11998e; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



.wrapper-score, .wrapper-time{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  width: 15%;
  border-radius: 10px;
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  margin: 5px;
}
p{
  margin: 0;
}


.count-value
{
    margin-left: 5%;
}