html, body{
    height: 100%;
    width: 100%;
    position: relative;
    background: url('1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    overflow-y: auto;
}

.min-width-elements{
    min-width: 1050px;
}


body{
    font-family: 'Roboto', sans-serif; 
}

main {    
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    box-shadow: 
        inset 0px 11px 15px -12px #000000,
        inset 0px -11px 15px -12px #000000; 
    overflow: auto;     
}

main.main{
    flex: 1 1 auto
}


.footer{
    color: #000000;
    background-color:#1887b7;
}